/* General Styles */
body {
    font-family: 'Baloo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEFAE0;
    color: #283618;
}

header {
    background: #283618;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #FEFAE0;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background: #283618;
    color: #FEFAE0;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Project Page Specific Styles */
#project-title {
    text-align: center;
    font-size: 36px; /* Smaller size for project titles */
    margin-bottom: 20px;
}

.project-section {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    margin: 40px 0;
    padding: 0 20px;
}

.section-content {
    width: 40%; /* Fixed width for text box */
    text-align: center;
    margin: 0 auto;
}

.section-header h2 {
    font-size: 32px;
    margin: 0;
    text-align: center; /* Center the header over the text box */
}

.text-box {
    font-size: 18px;
    margin-top: 5px;
}

.image-box {
    width: 300px; /* Fixed width for images */
    height: 300px; /* Fixed height for images */
    text-align: center;
    flex-shrink: 0;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-section {
        flex-direction: column;
        align-items: center;
    }

    .section-content {
        width: 80%; /* Adjust text box width on smaller screens */
    }

    .image-box {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
}
